* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #1e1e1e;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 20px;
  color: white;
  position: relative;
}

.logo {
  font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
  font-weight: bold;
  font-family: "K2D", sans-serif;
  background: linear-gradient(to right, #fa6e00 0%, #e60026 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.menu-desplegable {
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.nav-links {
  display: none;
  flex-direction: column;
  gap: 5px;
  background-color: #0b5ed7;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-links.show {
  display: flex;
}

.boton__header {
  padding: 4px 10px;
  font-size: clamp(0.9rem, 2vw, 1.2rem);

  color: white;
  background: linear-gradient(to right, #fa6e00 0%, #e60026 100%);
  border: none;
  border-radius: 5%;
  cursor: pointer;
  min-width: 100px;
  max-width: 280px;
  width: auto;
  height: auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.boton-gradiente:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}
/* @media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .nav-links {
    display: flex !important;
    position: static;
    flex-direction: row;
    background: none;
    width: auto;
    padding: 0;
  }

  .nav-links a {
    margin-left: 20px;
  }

  .action-button {
    display: inline-block;
  }
} */
