* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #1e1e1e;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 20px;
  color: white;
  position: relative;
}

.logo {
  font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
  font-weight: bold;
  font-family: "K2D", sans-serif;

  background: linear-gradient(to right, #fa6e00 0%, #e60026 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.menu-desplegable {
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

.nav-links {
  display: none;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  padding: 16px;
}

.nav-links a {
  position: relative; /* para posicionar el pseudo-elemento */
  color: white;
  text-decoration: none;
  padding: 5px 0;
  display: block;
  padding: 10px 16px;
  font-size: 1rem;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px; /* grosor de la línea */
  width: 0; /* inicialmente oculto */
  background: linear-gradient(to right, #fa6e00, #e60026);
  transition: width 0.3s ease;
}

/* al pasar el ratón, la línea se expande al 100% */
.nav-links a:hover::after {
  width: 100%;
}
.nav-links.show {
  display: flex;
}

.boton__header {
  padding: 4px 10px;
  font-size: clamp(0.9rem, 2vw, 1.2rem);

  color: white;
  background: linear-gradient(to right, #fa6e00 0%, #e60026 100%);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  min-width: 100px;
  max-width: 280px;
  width: auto;
  height: auto;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.boton__header:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}
